.Shop_Section {

    display: grid;
    grid-template-columns: 4fr 1fr;

}

.Grid_of_Card {
    display: grid;
    /* grid-template-columns: repeat(1fr); */
}


.Main_Section {
    background-color: bisque;
}

.Cart_Section {
    background-color: aqua;
}