.Cart_Section {
    background-color: aqua;
}

.Sticky {
    position: sticky;
    top: 0;
}

.Button_style {
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid brown;
}

.Showing_Chose {
    /* display: none; */
}